@font-face {
    font-family: 'CedarvilleCursive'; /* You pick this name */
    src: url('fonts/CedarvilleCursive-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  *, *:before, *:after { box-sizing: border-box; }
body {
    margin: 0;
    padding: 0;
    font-family: CedarvilleCursive, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    background-color: rgb(0, 0, 0);
}
#thumbs {
    position: relative;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 0;
    width: 100%;
    z-index: 100;
}
#viewer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    z-index: 1000;
    display: none;
    cursor: zoom-out;
    background-color: #000;
}
#viewer img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 20px;
    display: none;
}
#thumbs .thumb img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
#thumbs .thumb {
    color: azure;
    cursor: zoom-in;
}
a {
    color: brown;
}
p {
    font-size: 12px;
    line-height: 14px;
}
#loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 1;
    font-size: 14px;
}
#loading p {
    color: rgb(155, 221, 164);
    font-family: CedarvilleCursive, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

@media(max-width:600px) {
    #thumbs {
        grid-template-columns: repeat(4, 1fr);
    }
}
